.frameBoard {
    border: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0px 0px;
}

.frame468{
    width: 468px;
    height: 60px;
}

.frame728{
    width:728px;
    height:90px;
}

.frameblock {
    overflow: hidden;
}

@media (max-width: 450px){
	.frameblock{
		height: 40px;
	}
}